<div class="content">
  <mat-card class="card">
    <mat-card-header>
      <img src="assets/icon/android-logo.png" alt="android" class="header-image" />
      <p>Text box limited to 34character</p>
      <button><mat-icon aria-hidden="false" aria-label="Example home icon">more_horiz</mat-icon></button>
    </mat-card-header>

    <mat-card-content>
      <img class="content-img"  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </mat-card-content>
    <mat-card-actions>
      <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon">insert_chart</mat-icon>
        <p>Expiry date 10.11.21</p>
      </div>
      <app-custom-toggle [color]="success" [disabled]="true"></app-custom-toggle>
    </mat-card-actions>
  </mat-card>
</div>

<div class="content">
  <mat-card class="card">
    <mat-card-header>
      <img src="assets/icon/android-logo.png" alt="android" class="header-image" />
      <p>Text box limited to 34character</p>
      <button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">more_horiz</mat-icon>
      </button>
    </mat-card-header>

    <mat-card-content>
      <img class="content-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu">
    </mat-card-content>
    <mat-card-actions>
      <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon">insert_chart</mat-icon>
        <p>Expiry date 10.11.21</p>
      </div>
      <app-custom-toggle [color]="pending" [disabled]="true"></app-custom-toggle>
    </mat-card-actions>
  </mat-card>
</div>

<div class="content">
  <mat-card class="card">
    <mat-card-header>
      <img src="assets/icon/android-logo.png" alt="android" class="header-image" />
      <p class="test1">
        <span class="elips">Text box limited to 34 454654654654 character</span>
        <span class="indent">Text box limited to 34 454654654654 character</span>
      </p>
      <button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">more_horiz</mat-icon>
      </button>
    </mat-card-header>

    <mat-card-content>
      <img class="content-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu">
    </mat-card-content>
    <mat-card-actions>
      <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon">insert_chart</mat-icon>
        <p>Expiry date 10.11.21</p>
      </div>
      <app-custom-toggle [color]="disabled" [disabled]="true" [checked]="false"></app-custom-toggle>
    </mat-card-actions>
  </mat-card>
</div>