
.content {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    max-width: 350px;
    border: 1px solid #ECECEC;
    box-shadow: none;
  }
}
:host::ng-deep {
  .mat-card {
    padding: 0;
  }
  .mat-card-header-text {
   display: none;
  }
  mat-card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      .header-image {
        width: 30px;
      }
      p {
        margin-bottom: 0px;
        color: #989898;
        white-space: nowrap;
        width: 100%;
        white-space: nowrap;
        display: inline-block;
        padding-left: 5px;
        &.test1 {
          width: 75%;
          white-space:nowrap;
          span {
            white-space: nowrap;
            overflow: hidden;
            vertical-align:middle;
          }
          .elips {
            display: inline-block;
            width: calc(50% + 0.2em);
            text-overflow: ellipsis;
          }

          .indent {
            display:inline-flex;
            width: calc(50% - 0.2em);
            justify-content:flex-end;
          }
        }
      }

      button {
        background: #ffffff;
        border: none;
        cursor: pointer;
      }

  }
  .mat-card-header-text {
    display: none !important;
    padding: 16px;
  }

  mat-card-content {
    background-color: #8DBBDF;
    padding: 10px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      margin: auto;
    }
  }

  mat-card-actions {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      justify-content: space-between;
      p {
         margin-bottom: 0;
         margin-left: 10px;
         color: #989898;
      }
    }
  }

  .mat-card>.mat-card-actions:last-child {
    margin-bottom: unset;
    padding-bottom: 16px;
}
}